/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Set basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background-image: url('https://www.gardeners.com/globalassets/articles/gardening/2023content/8078-chive-flowers-edible.jpg');
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 0;
}

#hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background-color: #FF4500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #FF6347;
}

#about {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

#features {
    padding: 60px 0;
    text-align: center;
}

.features-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.feature-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 16px;
}
